{% load static %}
<html>
    <head>
        <title>Twitter Top Links</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body class="ui container">
        <h2 class="ui center aligned icon header">
            <i class="circular users icon"></i>
            Twitter Top Links 
        </h2>
        <div class="ui secondary pointing menu">
          
        <a href={% url 'top_tweets_list' %} class="item">
          Home
        </a>
    
        {% if  request.session.user_id %}
            <a href={% url 'user_tweets_list' %} class="item">
                Tweets
            </a>
        {% else %}
        <div data-tooltip= "Please Sign In !!">
            <a  class="item">
              Tweets
            </a>
        </div>
        {% endif %}

        <div class="right menu">
            {% if request.session.user_id %}
                <a href = {% url 'sign_out' %} class="ui item">
                    <i class="trash icon"></i>
                    Sign Out
                </a>

            {% else %}
                <a href = {% url 'auth' %} class="ui item">
                <i class="twitter icon"></i>
                    Login with Twitter
                </a>
          {% endif %}
        </div>
      </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <!-- <script src="semantic/dist/semantic.min.js"></script> -->
    </body>
</html>
